run = "cd backend && npm install && node server.js"
entrypoint = "backend/server.js"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "cd backend && npm install && node server.js"]
deploymentTarget = "cloudrun"
